# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
def makeData(Country):
    result={}
    result['國家']=Country
    result['人口']=[]
    for co in Country:
        result['人口'].append(np.random.randint(100000000))
    return result
data = pd.DataFrame(makeData(['Taiwan','United States','Thailand'] ))
print('人口最多的國家是{}，共{:,d}人'.format(data[data['人口']==data['人口'].max()]['國家'].iloc[0],data[data['人口']==data['人口'].max()]['人口'].iloc[0]))
data

人口最多的國家是Thailand，共88,751,820人

              國家        人口
0         Taiwan  30084220
1  United States  56244841
2       Thailand  88751820